* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.heading {
    background: cadetblue;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    position: absolute;
    right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-weight: 300;
    font-size: 2rem;
}

h3 {
    text-align: center;
}

ul.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
}

ul.nav-items>li {
    float: left;
}

ul.nav-items>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-items>li{
    height: 100%;
}

ul.nav-items>li:hover {
    background-color: darkseagreen;
}
.container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: lightseagreen;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product {
    display: flex;
    width: 100%;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.description {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.description ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

.sm-hide {
  width: 50%;
 }
.quantity > input{
    width: 50px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}