* {
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
          
        }
        
        h2 {
            margin-bottom: 10px;
        }
        
        .container {
            max-width: 1000px;
            margin: 0 auto;
        }
        
        .product {
            display: flex;
            margin-bottom: 20px;
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
        }
        
        .product img {
            height: 100px;
            margin-right: 10px;
        }
        
        .product-info {
            flex-grow: 1;
        }
        
        .product-info h4 {
            margin-top: 0;
        }
        
        .price {
            font-weight: bold;
            font-size: 16px;
            color: #ff5522;
            margin-bottom: 5px;
        }
        
        .button {
            padding: 8px 16px;
            font-weight: bold;
            border-radius: 5px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
            outline: none;
            margin-left: auto;
        }
        
        .button:hover {
            background-color: #45a049;
        }
        
        .cart {
            margin-top: 20px;
        }
        
        .cart-item {
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        .cart-item img {
            height: 80px;
            margin-right: 10px;
        }
        
        .cart-item-info {
            flex-grow: 1;
        }
        
        .cart-item-remove {
            color: #f00;
            cursor: pointer;
            margin-left: auto;
        }
        
        .total {
            text-align: right;
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }