ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img, media {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  transition: 0.2s;
  color: #555;
}
a:hover, a:active, a:focus {
  color: #27a;
}

h1, h2 {
  margin: 0;
}

.item-add-button, .cart-pay-button {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  background-color: #2d2;
  display: block;
  width: 100%;
  max-width: 20rem;
  padding: 0.25rem 0.5rem;
  margin: 1.5rem auto 0;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 0.375rem #2b2;
  transition: 0.2s;
}
.item-add-button:active, .cart-pay-button:active {
  transform: translateY(0.375rem);
  box-shadow: 0 0 #2b2;
}

.empty-cart, .cart-items {
  margin: 2rem 0;
}

.empty-cart {
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.cart-item-image-link, .cart-item-delete {
  flex: 0 0 auto;
}

.cart-item-info {
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-item-delete {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.cart-item-image {
  vertical-align: bottom;
  height: 5rem;
  padding: 0 0.8333rem 0 0.8333rem;
}

.cart-item-name-link, .cart-item-value {
  flex: 0 0 auto;
  margin: 0.25rem 0.5rem;
}

.cart-item-name {
  font-size: 1.25rem;
}

.cart-item-value {
  font-size: 1rem;
}

.cart-item-price {
  margin-right: 1rem;
}

.cart-item-qty-select {
  margin-left: 0.5rem;
}

.cart-total {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.cart-total-label {
  font-weight: bold;
}

.header {
  width: 100%;
  height: 0.175rem;
  position: fixed;
  top: 1;
  left: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 0.0625rem solid #999;
}

.header-contents {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
}
.header-contents > a {
  flex: 0 0 auto;
}

.back-button {
  margin: 1rem auto 1rem 1rem;
  padding: 0.625rem 0;
}

.cart-button {
  margin: 1rem 1rem 1rem auto;
  padding: 0.5rem;
  border: 0.125rem solid #46f;
  border-radius: 0.375rem;
  background-color: #68f;
  background-color: rgba(102, 136, 255, 0.85);
  color: #fff;
  font-weight: bold;
}
.cart-button:hover, .cart-button:active, .cart-button:focus {
  color: #fff;
}
.cart-button:hover, .cart-button:focus {
  border: 0.125rem solid #35f;
  background-color: #57f;
  background-color: rgba(85, 119, 255, 0.85);
}
.cart-button:active {
  border: 0.125rem solid #24f;
  background-color: #35f;
  background-color: rgba(51, 85, 255, 0.85);
}

.item {
  max-width: 25rem;
  margin: 0 auto;
}

.item-name, .item-price {
  padding: 0.25rem 0;
}

.item-name {
  font-size: 1.5rem;
}

.item-price {
  font-size: 1.25rem;
  font-weight: normal;
}

.item-add-form, .item-sold-out {
  margin: 2.5rem 0 0;
}

.item-add-form {
  text-align: center;
}

.item-qty-label {
  margin-right: 0.5rem;
}

.item-sold-out {
  color: #f00;
}

@media (min-width: 48rem) {
  .item {
    display: flex;
    max-width: 60rem;
    padding: 2rem 0 0;
  }

  .item-image {
    flex: 0 0 auto;
  }

  .item-details {
    flex: 1 1 auto;
    padding: 2rem 0 1rem 2rem;
  }
}
.no-match {
  text-align: center;
  margin: 2rem 0;
}

.item-qty, .cart-item-qty-select {
  font-size: 1rem;
  color: #333;
  width: 2.75rem;
  background-color: #fff;
  border: 0.0625rem solid #666;
  border-radius: 0.25rem;
}

.shop-item {
  margin: 2rem auto;
  max-width: 21.625rem;
  border: 0.0625rem solid #555;
  box-shadow: 0 0 0.625rem 0.25rem #555;
}

.shop-item-image, .shop-item-name, .shop-item-price {
  padding: 0.5rem 0.75rem;
}

.shop-item-image {
  margin: 0;
}

.shop-item-name {
  font-size: 1.5rem;
}

.shop-item-price {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

@media (min-width: 40rem) {
  .shop-item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  .shop-item {
    flex: 0 0 43%;
    margin: 2rem 3.5%;
  }
}
@media (min-width: 54rem) {
  .shop-item {
    flex: 0 0 29%;
    margin: 2rem 2.166%;
  }
}
.shopping-cart-app {
  max-width: 75rem;
  margin: 0 auto;
}

.main-header {
  font-size: 1.75rem;
  margin: 1rem 0;
}

.main {
  padding: 4.375rem 1rem 2.5rem;
}













/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.4;
	color: #fff;
	background-color: #1f2029;
	overflow-x: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 300px;
}
.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
a:hover {
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #ffeba7;
  background-color: #102770;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #ffeba7;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
.logo {
	position: fixed;
	top: 50px;
	left: 40px;
	display: block;
	z-index: 11000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
	transition: all 250ms linear;
}
.logo:hover {
  background-color: transparent;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  transition: all 200ms linear;
}
.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

@media screen and (max-width: 991px) {
.logo {
	top: 30px;
	left: 20px;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}
}