ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img, media {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  transition: 0.2s;
  color: #555;
}
a:hover, a:active, a:focus {
  color: #27a;
}

h1, h2 {
  margin: 0;
}

.item-add-button, .cart-pay-button {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  background-color: #2d2;
  display: block;
  width: 100%;
  max-width: 20rem;
  padding: 0.25rem 0.5rem;
  margin: 1.5rem auto 0;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0 0.375rem #2b2;
  transition: 0.2s;
}
.item-add-button:active, .cart-pay-button:active {
  transform: translateY(0.375rem);
  box-shadow: 0 0 #2b2;
}

.empty-cart, .cart-items {
  margin: 2rem 0;
}

.empty-cart {
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.cart-item-image-link, .cart-item-delete {
  flex: 0 0 auto;
}

.cart-item-info {
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-item-delete {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.cart-item-image {
  vertical-align: bottom;
  height: 5rem;
  padding: 0 0.8333rem 0 0.8333rem;
}

.cart-item-name-link, .cart-item-value {
  flex: 0 0 auto;
  margin: 0.25rem 0.5rem;
}

.cart-item-name {
  font-size: 1.25rem;
}

.cart-item-value {
  font-size: 1rem;
}

.cart-item-price {
  margin-right: 1rem;
}

.cart-item-qty-select {
  margin-left: 0.5rem;
}

.cart-total {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.cart-total-label {
  font-weight: bold;
}

.header {
  width: 100%;
  height: 4.375rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 0.0625rem solid #999;
}

.header-contents {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
}
.header-contents > a {
  flex: 0 0 auto;
}

.back-button {
  margin: 1rem auto 1rem 1rem;
  padding: 0.625rem 0;
}

.cart-button {
  margin: 1rem 1rem 1rem auto;
  padding: 0.5rem;
  border: 0.125rem solid #46f;
  border-radius: 0.375rem;
  background-color: #68f;
  background-color: rgba(102, 136, 255, 0.85);
  color: #fff;
  font-weight: bold;
}
.cart-button:hover, .cart-button:active, .cart-button:focus {
  color: #fff;
}
.cart-button:hover, .cart-button:focus {
  border: 0.125rem solid #35f;
  background-color: #57f;
  background-color: rgba(85, 119, 255, 0.85);
}
.cart-button:active {
  border: 0.125rem solid #24f;
  background-color: #35f;
  background-color: rgba(51, 85, 255, 0.85);
}

.item {
  max-width: 25rem;
  margin: 0 auto;
}

.item-name, .item-price {
  padding: 0.25rem 0;
}

.item-name {
  font-size: 1.5rem;
}

.item-price {
  font-size: 1.25rem;
  font-weight: normal;
}

.item-add-form, .item-sold-out {
  margin: 2.5rem 0 0;
}

.item-add-form {
  text-align: center;
}

.item-qty-label {
  margin-right: 0.5rem;
}

.item-sold-out {
  color: #f00;
}

@media (min-width: 48rem) {
  .item {
    display: flex;
    max-width: 60rem;
    padding: 2rem 0 0;
  }

  .item-image {
    flex: 0 0 auto;
  }

  .item-details {
    flex: 1 1 auto;
    padding: 2rem 0 1rem 2rem;
  }
}
.no-match {
  text-align: center;
  margin: 2rem 0;
}

.item-qty, .cart-item-qty-select {
  font-size: 1rem;
  color: #333;
  width: 2.75rem;
  background-color: #fff;
  border: 0.0625rem solid #666;
  border-radius: 0.25rem;
}

.shop-item {
  margin: 2rem auto;
  max-width: 21.625rem;
  border: 0.0625rem solid #555;
  box-shadow: 0 0 0.625rem 0.25rem #555;
}

.shop-item-image, .shop-item-name, .shop-item-price {
  padding: 0.5rem 0.75rem;
}

.shop-item-image {
  margin: 0;
}

.shop-item-name {
  font-size: 1.5rem;
}

.shop-item-price {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

@media (min-width: 40rem) {
  .shop-item-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  .shop-item {
    flex: 0 0 43%;
    margin: 2rem 3.5%;
  }
}
@media (min-width: 54rem) {
  .shop-item {
    flex: 0 0 29%;
    margin: 2rem 2.166%;
  }
}
.shopping-cart-app {
  max-width: 75rem;
  margin: 0 auto;
}

.main-header {
  font-size: 1.75rem;
  margin: 1rem 0;
}

.main {
  padding: 4.375rem 1rem 2.5rem;
}















@import "compass/css3";

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
	font-family: "Lato", Helvetica, Arial;
	font-size: 16px;
}

*, *:before, *:after {
	-webkit-border-sizing: border-box;
	-moz-border-sizing: border-box;
	border-sizing: border-box;
}

.container {
	width: 350px;
	margin: 50px auto;
  
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
}

// =============================================================================
//	Mixins and Variables
// =============================================================================

$orange: red;
$blue: red;
$gray: red;

@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin double-shadow($color) {
	@include box-shadow(0 1px 0 lighten($color, 100%) inset, 0 -1px 0 darken($color, 100%) inset);
}

@mixin hover-style($color) {
	&:hover {
		background: lighten($color, 100%);
	}
}

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
}

// =============================================================================
//	Classes
// =============================================================================

.title {
  font-family: 'Pacifico';
  font-weight: norma;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  color: $orange;
}

.dropdown {
  position: relative;
  
	a { text-decoration: none; }

	[data-toggle="dropdown"] {
		
		color: red;
display: block;
		background: $orange;
		@include double-shadow($orange);
		@include hover-style($orange);
		@include text-shadow(0 -1px 0 rgba(0,0,0,0.3));
		padding: 10px;
    
    &:before {
			position: absolute;
			display: block;
      content: '\25BC';
			font-size: 0.7em;
			color: #fff;
			top: 13px;
			right: 10px;
			@include transform(rotate(0deg));
			@include transition(transform .6s);
		}
	}

	& > .dropdown-menu {
		max-height: 0;
		overflow: hidden;
		@include ul-nostyle;
		@include transform(scaleY(0));
		@include transform-origin(50%, 0%);
		@include transition(max-height .6s ease-out);
		@include animation(hideAnimation .4s ease-out);

		li {
			padding: 0;

			a {
				display: block;
				color: darken($gray, 50%);
				background: $gray;
				@include double-shadow($gray);
				@include hover-style($gray);
				@include text-shadow(0 -1px 0 rgba(255,255,255,0.3));
				padding: 10px 10px;
			}
		}
	}
  
  & > input[type="checkbox"] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
    &:checked ~ .dropdown-menu {
      max-height: 9999px;
			display: block;
			@include transform(scaleY(1));
			@include animation(showAnimation .5s ease-in-out);
			@include transition(max-height 2s ease-in-out);
    }
    
    &:checked + a[data-toggle="dropdown"] {
      &:before {
        @include transform(rotate(-180deg));
        @include transition(transform .6s);
      }
    }
  }
}

@include keyframes(showAnimation) {
	0% {
		@include transform(scaleY(0.1));
	}
	40% {
		@include transform(scaleY(1.04));
	}
	60% {
		@include transform(scaleY(0.98));
	}
	80% {
		@include transform(scaleY(1.04));
	}
	100% {
		@include transform(scaleY(0.98));
	}				
	80% {
		@include transform(scaleY(1.02));
	}
	100% {
		@include transform(scaleY(1));
	}
}

@include keyframes(hideAnimation) {
  0% {
  	@include transform(scaleY(1));
  }
  60% {
  	@include transform(scaleY(0.98));
  }
  80% {
  	@include transform(scaleY(1.02));
  }
  100% {
  	@include transform(scaleY(0));
  }
}
