.veriAltBar {width: 100%; min-height: 40px; position: fixed; left: 0; bottom: 0; z-index: 999999; background: #fff; border-top: 1px solid #f3f3f3;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-box-align: center;
	box-align: center;
}
	.veriAltBar .txt {width: 100%; margin: 0 auto; padding: 0 40px 0 10px; position: relative; font-weight: normal;  font-size: 12px;}
	.veriAltBar .txt a {text-decoration: underline;}
	.veriAltBar .txt .close {position: absolute; top: 50%; right: 10px; font-size: 22px; cursor: pointer;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
