* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.heading {
  background: cadetblue;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  position: absolute;
  right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
}

h3 {
  text-align: center;
}

ul.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}

ul.nav-items > li {
  float: left;
}

ul.nav-items > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.nav-items > li {
  height: 100%;
}

ul.nav-items > li:hover {
  background-color: black;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image {
  height: 100%;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
}

.add-cart {
  position: absolute;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}
.image img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}